{% load static %}

<html lang="pt/br">
<head>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <title>Programa de Pontuação Impulso Bayer</title>

</head>
<body>
<form name="publication" action="publication/done" method="post">
   {% csrf_token %}
<div class="background">
  <div class="container">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>Programa de Pontuação</span>
            <span>Impulso Bayer</span>
          </div>
          <div class="app-contact">Cadastro de notas fiscais</div>
        </div>
        <div class="screen-body-item">
          <div class="app-form">
            <div class="app-form-group">
              <input class="app-form-control" placeholder="Nome da empresa" name="empresa">
            </div>
            <div class="app-form-group message">
              <input class="app-form-control" placeholder="Descrição do serviço" name="descricao">
            </div>
            <div class="app-form-group message">
              <input class="app-form-control" placeholder="CNPJ" name="cnpj">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="Número da nota" name="nota">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="Data e Hora da emissão" name="data_emissao">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="Valor da nota R$" name="valor_nota">
            </div>
            <div class="app-form-group buttons">
              <button class="app-form-button" type="submit">Publicar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="credits">
      <p>
          Impulso Bayer Program
          <a class="credits-link" href="https://www.bayer.com.br/pt/" target="_blank">Bayer S.A</a>
      </p>
    </div>
  </div>
</div>
</form>
</body>
</html>